.container {
  display: flex;
  gap: 10px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.imgContainer {
  flex: 1;
  position: relative;
}

.title {
  font-size: 54px;
}

.subTitle {
  color: var(--btn);
}

.description {
  font-size: 20px;
  font-weight: 300;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10;
}

.box h2 {
  color: var(--btn);
}

.image {
  object-fit: contain;
}

@media (max-width: 768px) {
  .container {
    text-align: center;
    flex-direction: column;
  }

  .boxes {
    flex-direction: column;
    gap: 50px;
  }
}
